<%content_for :title do %>
  Geeky - <%= @post.title %>
<% end %>

<%content_for :test do %>
  <h1>SHOW TEST</h1>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
