<div class="notice" id="<%= dom_id post %>">
  <h3>
    <a href="<%= post_path(post) %>"><%= post.title %></a>
  </h3>
  <div>
    <%= time_ago_in_words(post.created_at) %>
  </div>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <%= tag_pills(post.tags_string) %>

  <p>
    <strong>Writer:</strong>
    <%= post.display_writer %>
  </p>

</div>
