<div id="<%= dom_id post %>">
  <h3><%= post.title %></h3>
  <p class="timestamp">
    created: <%= time_ago_in_words(post.created_at) %>
  </p>

  <p>
    <strong><%= I18n.t('post.body') %>:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong><%= I18n.t('post.tags') %>:</strong>
    <%= post.tags_string %>
  </p>

  <p>
    <strong><%= I18n.t('post.writer') %>:</strong>
    <%= post.writer_name %>
  </p>
</div>
