<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<h3><%= session[:random_number] %></h3>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

// Assets Pipeline
<img src="<%= image_path 'posts.jpg' %>"/>
