<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div>
  <%= paginate @posts, views_prefix: :posts %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

// Assets Pipeline
<img src="<%= image_path 'posts.jpg' %>"/>
