<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= turbo_frame_tag 'new_post', src: new_post_path, loading: "lazy" do %>
<% end %>

<h4 id="post-notice"></h4>

<div id="posts">
  <%= paginate @posts %>

  <div id="created_post">
  </div>

  <% @posts.each do |post| %>
    <% cache post do %>
      <%= render post %>
    <% end %>
  <% end %>

  <%= paginate @posts %>
</div>
