<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path, class: "button", data: {turbo_frame: 'new_post'} %>

<%= turbo_frame_tag 'new_post' do %>
<% end %>

<div id="post-notice"></div>

<%= paginate @posts, views_prefix: :posts %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= turbo_frame_tag "edit_post_#{post.id}" do %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
  <% end %>
</div>
