<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= turbo_frame_tag 'new_post', src: new_post_path, loading: :lazy do%>
<% end %>
<div id="post_notice" data-controller="post-notice"></div>
<div id="post_celebrate"></div>

<div>
  <%= paginate @posts, views_prefix: :posts %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>



<br/>
<img src="<%= image_path 'posts.jpg' %>"/>
