<h1>Posts</h1>
<%= link_to "New post", new_post_path, class: 'button', data: { turbo_frame: "new_post" } %>

<%= turbo_frame_tag "new_post" do %>
<% end %>

<div id="post_notice"></div>

<%= form_with url: "/posts", method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.submit "Search" %>
<% end %>

<%= paginate @posts, views_prefix: :posts %>

<%= turbo_stream_from "posts" %>

<div id="posts_list">
  <% @posts.each do |post| %>
    <%= turbo_frame_tag "edit_post_#{post.id}" do %>
    <% end %>

    <%= render 'posts/post_card', post: post %>
  <% end %>
</div>
