<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path %>
<%= paginate @posts, views_prefix: :posts %>

<%= form_with url: "/posts", method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.submit "Search" %>
<% end %>

<div id="posts">
  <table>
    <thead>
      <th>title</th>
      <th>body</th>
      <th>created_at</th>
      <th>actions</th>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <%= render 'posts/post_row', post: post %>
      <% end %>
    </tbody>
  </table>
</div>
