<%content_for :title do %>
  Geeky - <%= @post.title %>
<% end %>

<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag @post do %>
  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post), data: {turbo_frame: "post_#{@post.id}"} %> |
    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>
